.auth-form {
  max-width: 350px;
  margin: 80px auto 0 auto;
  background: var(--surface);
  border: 1px solid var(--border-color);
  border-radius: 10px;
  padding: 38px 24px 28px 24px;
  box-shadow: 0 2px 10px var(--shadow-color);
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.auth-input {
  font-size: 1rem;
  padding: 12px 14px;
  border-radius: 6px;
  border: 1px solid var(--border-color);
  margin-bottom: 10px;
  background: #fcfcfc;
  color: var(--text-color);
  outline: none;
  transition: border 0.15s;
}
.auth-input:focus {
  border: 1.5px solid var(--primary);
}

.btn-large {
  width: 100%;
}
